---
layout: new
header-img: "images/sf1.jpg"
---

{% include redesign/jumbotron.html %}

<div class='row'>
  <div class="col-sm-8">

    {% assign firstPost = site.posts.first %}
    <h1 class="post-title">
      {{ firstPost.title }}
    </h1>

    {% if firstPost.subtitle %}
    <h5 class="post-subtitle">
        {{ firstPost.subtitle }}
    </h5>
    {% endif %}

    <small class="post-meta vspace1">
      Posted by {% if firstPost.author %}{{ firstPost.author }}{% else %}{{ site.title }}{% endif %} on {{ firstPost.date | date: "%B %-d, %Y" }}
    </small>

    <div class="vspace2">
      {{ firstPost.content }}
    </div>

    <hr class="vspace2" class="fspace2" />

    <div>
      {% include redesign/recent_posts.html offset=1 %}
    </div>

  </div>

  <div class="col-sm-4">
    <img class="img-fluid" src="/images/dont-miss-the-deadline.png">
    <div class="vspace2"></div>

    <h3> Applications </h3>
    <div class="vspace1"></div>

    <p>
      Do you have what it takes to be the first San Francisco Bootblack? Application deadline is January 20th, 2018.
    </p>
    <a href="/2018/app/" class="btn btn-lg btn-primary disabled">
      Applications Are Closed
    </a>
    <div class="vspace2"></div>

    <h3>Tickets</h3>
    <div class="vspace1"></div>

    <button type="button" disabled class="btn btn-lg btn-secondary">
        Coming Soon!
    </button>

    <div class="vspace2"></div>

    <h3>Want to get involved?</h3>
    <div class="vspace1"></div>

    <a href="/contact" class="btn btn-lg btn-success">
        Contact Us!
    </a>

    <div class="vspace2"></div>

    {% include redesign/links.html offset=1 %}

    <div class="vspace2"></div>

  </div>
</div>
