---
layout: new
hide_title: true
hideJumbotron: true
---
<div class="row">
  <div class='col-md-5'>
    <div class="bg-white">
      <div class="container">
        <h2 class="display-4 mt-5">San Francisco Bootblack</h2>
        <h4> March 1-3 2019, San Francisco</h4>
        <p class="lead mt-3">
          Part of the 2019 Leather Alliance Weekend in San Francisco CA.
        </p>
      </div>
    </div>
  </div>
  <div class='col-md-7'>
    <img class="img-fluid" src="/images/2019/contestant_meeting.jpg">
  </div>
</div>

<div class="mt-5"></div>

<hr>

<div class="mt-5"></div>

<div class="row">
  <div class='col-md-3'>
    <img class="img-fluid" src="/images/titleholders/victoria.jpg">
  </div>
  <div class='col-md-9'>
    <div class="bg-white">
      <div class="container">
        <h2 class="mt-3">San Francisco Bootblack 2018</h2>
        <h2 class="display-3 mt-3">Victoria</h2>
        <p>
          Victoria will step down on the very stage she took the first San Francisco Bootblack title this March.
          <a class="mt-5" href="/titleholders/">
            Get to know Victoria.
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="mt-5"></div>

<hr>

<div class="mt-5"></div>

<div class="row">
  <div class='col-md-8'>
    <div class="bg-white">
      <div class="container">
        <h2 class="mt-3">2019 Bootblack Contestant</h2>
        <h2 class="display-3 mt-3">Allison Boots</h2>
        <p>
          This March, Allison will take to the stage to compete for the title of
          San Francisco Bootblack 2019. Allison has been bootblacking publicly in the
          bay area since 2013.
          <a class="mt-5" href="/2019/contestants/">
            Get to know Allison.
          </a>
        </p>
        <h5 class="mt-5"> Mr SF Leather Contestants </h5>
        <p>
          There are also six contestants competiting for the title of Mr SF Leather. You can <a href="/2019/mr-sf-contestants/"> see them here.</a>
        </p>
      </div>
    </div>
  </div>
  <div class='col-md-4'>
    <img class="img-fluid" src="/images/2019/allison2.jpg">
  </div>
</div>

<!-- <div class="row">
  <div class='col-6'>
    <div class="text-center">
      <h3 class="">2019 Contestant</h3>
      <div class="row">
        <div class="col-6 offset-3">
          <img class="img-fluid" src="/images/2019/allison2.jpg">
          <h4> Allison Boots </h4>
          <a href="/2019/contestants/"> Read More </a>
        </div>
      </div>
    </div>
  </div>
  <div class='col-6'>
    <div class="text-center">
      <h3 class="">Tickets are on sale now!</h3>
      <p>
        <a href="https://www.cognitoforms.com/SFBayAreaLeatherAlliance1/_2019SFBayAreaLeatherAllianceWeekend">Click here to buy tickets.</a>
      </p>
      <img class="img-fluid" src="/images/reusable/buytickets.png">
    </div>
  </div>
</div> -->

<div class="mt-5"></div>

<hr>

<div class="mt-5"></div>

<div class="row">
  <div class="col-12">
    <h2 class="text-center display-4">2019 Judges</h2>
    <p class="text-center">
      <a href="/2019/judges"> Click here to read more about our judges. </a>
    </p>
  </div>
  <div class='col-md-4'>
    <img class="img-fluid" src="/images/2019/lucky2.jpg">
    <h4 class="text-center">Lucky Rebel</h4>
    <p class="text-center">International Mr Bootblack 2017</p>
    <p class="text-center">Head Judge</p>
  </div>
  <div class='col-md-4'>
    <img class="img-fluid" src="/images/2019/ryan.jpg">
    <h4 class="text-center">Pawlish</h4>
    <p class="text-center">International Mr Bootblack 2017</p>
  </div>
  <div class='col-md-4'>
    <img class="img-fluid" src="/images/2019/marlene.jpg">
    <h4 class="text-center">Marlene</h4>
    <p class="text-center">President CSC Board</p>
    <p class="text-center">Community Judge</p>

  </div>
</div>

<div class="mt-5"></div>

<!-- <hr>

<div class="mt-5"></div>

<div class="row">
  <div class="col-md-6">
    <h2 class="text-center display-4">Posts</h2>
    <p class="text-center">
      <a href="/archive"> Click here to read all of the previous posts. </a>
    </p>
  </div>
  <div class="col-md-6">
    {% include redesign/recent_posts_links.html offset=0 %}
  </div>
</div>

<div class="mt-5"></div> -->

<hr>

<div class="mt-5"></div>

<div class="row">
  <div class="col-6">
    <img class='img-fluid' src="/images/sponsors/mr_s_logo_40.png" height="200"/>
  </div>
  <div class="col-6">
    <h2 class="text-center display-4">Sponsors</h2>
  </div>
</div>


<!-- <div class='row mt-5'>
  <div class='col-sm-8'>

    <p class="text-center mt-2"> <a href="/photos/2018"> See Photos From The Event </a> </p>

    {% assign firstPost = site.posts.first %}
    <h1 class="post-title">
      {{ firstPost.title }}
    </h1>

    {% if firstPost.subtitle %}
    <h5 class="post-subtitle">
        {{ firstPost.subtitle }}
    </h5>
    {% endif %}

    <small class="post-meta vspace1">
      Posted by {% if firstPost.author %}{{ firstPost.author }}{% else %}{{ site.title }}{% endif %} on {{ firstPost.date | date: "%B %-d, %Y" }}
    </small>

    <div class="vspace2">
      {{ firstPost.content }}
    </div>

    <hr class="vspace2" class="fspace2" />

    <!-- <h1> 2018 Bootblack Contestants </h1> -->

    <!-- <div class="row">
      <div class="col-4">
        <img class="img-fluid" src="{{site.data.2018.contestants.camryn.photo}}"/>
      </div>
      <div class="col-4">
        <img class="img-fluid" src="{{site.data.2018.contestants.kenzi.photo}}"/>
      </div>
      <div class="col-4">
        <img class="img-fluid" src="{{site.data.2018.contestants.victoria.photo}}"/>
      </div>
    </div> -->

    <!-- <img class="img-fluid" src="/images/2018/contestants.jpg"/> -->
    <!-- <p class="text-center vspace1">
      <a href="/2018/contestants"> Click Here to Learn More About Our Contestants </a>
    </p>

    <a href="https://www.cognitoforms.com/SFBayAreaLeatherAlliance1/_2018SFBayAreaLeatherAllianceWeekend">
      <img class="img-fluid mx-auto d-block vspace2" src="/images/reusable/buytickets.png" />
    </a> -->

    <!-- <hr /> -->

    <!-- <div class="vspace2">
      {% include redesign/recent_posts.html offset=1 %}
    </div>

  </div> -->

  <!-- <div class="col-sm-4"> -->
    <!-- <h3>Tickets</h3>
    <div class="vspace1"></div>

    <a href="https://www.cognitoforms.com/SFBayAreaLeatherAlliance1/_2018SFBayAreaLeatherAllianceWeekend" class="btn btn-lg btn-primary">
        Buy Now!
    </a>

    <div class="vspace2"></div>

    <h3>Want to get involved?</h3>
    <div class="vspace1"></div>

    <div class="vspace2"></div> -->

    <!-- <h3> SFBB 2018, Victoria </h3>
    <img class="img-fluid" src="/images/titleholders/victoria.jpg" />

    <div class="vspace2"></div>

    {% include redesign/links.html offset=1 %}

    <div class="vspace2"></div>

    <h3>Want to get involved?</h3>
    <div class="vspace1"></div>

    <a href="/contact" class="btn btn-lg btn-success">
        Contact Us!
    </a>
    <div class="vspace2"></div>

    {% include redesign/sponsors.html %}

  </div>


</div> -->
