<div class="vspace3"></div>
<hr />
<footer class="text-muted">
  <img src="/images/sfba_logo.png" style="height: 50px; float: right;" />
  <img src="/images/logos/logo_no_date.png" style="height: 50px; float: right;" />
  <img src="/images/mr_sf_logo_transparent.png" style="height: 50px; float: right;" />

  <p class="copyright text-muted">Copyright &copy; {{ site.copyright_name }} {{ site.time | date: '%Y' }} <br />
  SF Bay Area Leather Alliance dba San Francisco Bootblack
  </p>
  <div class="vspace1">
  </div>
  <br />
</footer>
