{% unless page.hideJumbotron %}

  <div class="jumbotron splash" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')" >

    <div class="container site-heading">
      <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>

      <!-- <a href="https://www.cognitoforms.com/SFBayAreaLeatherAlliance1/_2018SFBayAreaLeatherAllianceWeekend" class="btn btn-lg btn-secondary"> Buy Tickets Now! </a> -->
    </div>
  </div>

{% endunless %}
