<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <img width=40 class="img-fluid" src="/images/logos/logo_2018_red.png" />
    <img width=40 class="img-fluid" src="/images/mr_sf_logo_transparent.png" />

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Leather Alliance Weekend <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/about">About</a>
            <a class="dropdown-item" href="/titleholders">Titleholders</a>
            <a class="dropdown-item" href="/staff">Contest Staff</a>
            <a class="dropdown-item" href="/event/accessibility/">Accessibility</a>
            <a class="dropdown-item" href="http://leatherallianceweekend.org/sponsorship">Sponsorship</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Contest
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/2019/schedule">2019 Schedule</a>
            <div class="dropdown-divider"></div>
            <span class="dropdown-item text-center">
              Bootblack Contest
            </span>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/2019/contest">Contest Components</a>
            <a class="dropdown-item" href="/2019/judges">2019 Judges</a>
            <a class="dropdown-item" href="/2019/contestants">2019 Contestants</a>
            <div class="dropdown-divider"></div>
            <span class="dropdown-item text-center">
              Bootblack Contest
            </span>
            <div class="dropdown-divider"></div>
            <!-- <a class="dropdown-item" href="/2019/contest">Contest Components</a> -->
            <a class="dropdown-item" href="/2019/judges">2019 Judges</a>
            <a class="dropdown-item" href="/2019/mr-sf-contestants/"> 2019 Mr SF Leather Contestants </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Photos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/photos/2018">2018 Contest</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/archive">Posts</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/2019/app">2019 Applications</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="https://www.cognitoforms.com/SFBayAreaLeatherAlliance1/_2019SFBayAreaLeatherAllianceWeekend">Tickets</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
