<p>
Teagan is a Bootblack based out of Oakland, CA. The first time she shined a pair of shoes, it was under her father’s watchful eye as a child before church. However, these days her skills are being put to more…salacious uses. Upon joining the leather community and discovering that taking care of leather was a 'thing,' she soon began exploring the eroticism surrounding leather care. She began to hone her craft starting with caring for the leathers of her close friends and lovers in 2013.  She then decided to undertake more formal skills training in early 2015. Once she was working on her own, she began to develop an identity as a spiritual bootblack. She views herself as a healer. Mixing sage oil in with some of her products she seeks to purify both the leather and it’s owner during their time in her stand.
</p>
<p>
She enjoys serving her community as both a skilled bootblack, organizer, and volunteer. She’s worked at major events including International Ms Leather, Leather HEAT, Dore Alley, and The Folsom Street Fair. She’s also worked as a coordinator for bootblacks at ‘The Playground’ at Folsom Street Fair and Dark Odyssey: Surrender. In 2016 she had the honor of being appointed the title of Southern California Bootblack 2016.
</p>
<p>
On Wednesdays she wears Wescos.
</p>
