<h4>
  Planned Travel Schedule. SoCalBB 2016
</h4>

<ul>
  <li> <b>June, 2016. Palm Springs, CA. </b> <br>
  Desire Women's Weekend </li>
  <li> <b> July, 2016. San Diego, CA </b> <br>
  San Diego Leather Realm </li>
  <li> <b>July, 2016. San Francisco, CA. </b><br>
  Dore Alley Faire</li>
  <li> <b>August, 2016. Portland, CA. </b><br>
  Oregon Leather Pride </li>
  <li> <b>September, 2016. San Francisco, CA. </b><br>
  Folsom Street Faire </li>
  <li> <b>October, 2016. Santa Barbara, CA </b><br>
  Kinky Hallow, Presenter</li>
  <li> <b>January, 2017. Phoenix, AZ. </b><br>
  Southwest Leather Conference. </li>
  <li>
    <b>March, 2017. Los Angeles, CA</b><br/>
    Ms LA Leather Contest.
  </li>
  <li> <b>April, 2017. San Jose, CA.</b><br>
  IMsL/IMsBB Weekend </li>
  <li> <b>April 2017. Los Angeles, CA.</b><br>
  Leather HEAT. (Stepdown) </li>
</ul>
