<table class="table table-sm table-bordered">
  <tbody>
    <tr>
      <th scope="row">Event</th>
      <td colspan="3">Beer Bust</td>
    </tr>
    <tr>
      <th scope="row">Date</th>
      <td>Sunday, March 4th</td>
      <th scope="row">Location</th>
      <td>SF Eagle</td>
    </tr>
    <tr>
      <th scope="row">Call Time</th>
      <td>2:50</td>
      <th scope="row">Start Time</th>
      <td>3:00pm</td>
    </tr>
    <tr>
      <th scope="row">Attire</th>
      <td>Your Pick</td>
      <th scope="row">End Time</th>
      <td>6:00pm</td>
    </tr>
    <tr>
      <th colspan="4" scope="row">Details</th>
    </tr>
    <tr>
      <td colspan="4">
        <p>
          First Shine - you be shining someone but not working.
        </p>
      </td>
    </tr>
  </tbody>
</table>
