<table class="table table-sm table-bordered">
  <tbody>
    <tr>
      <th scope="row">Event</th>
      <td colspan="3">Main Contest</td>
    </tr>
    <tr>
      <th scope="row">Date</th>
      <td>Saturday, March 3rd</td>
      <th scope="row">Location</th>
      <td>SOMA ARTS</td>
    </tr>
    <tr>
      <th scope="row">Call Time</th>
      <td>5:30PM</td>
      <th scope="row">Start Time</th>
      <td>6:00PM</td>
    </tr>
    <tr>
      <th scope="row">Attire</th>
      <td>Various</td>
      <th scope="row">End Time</th>
      <td>10:00PM</td>
    </tr>
    <tr>
      <th colspan="2" scope="row">Details</th>
      <th colspan="2" scope="row">Notes</th>
    </tr>
    <tr>
      <td colspan="2" width="50%">
        <ul>
          <li> Backstage : 5:30.</li>
          <li> Arrive Earlier if you need additional time to get ready. </li>
          <li> Cocktail Hour : 6 - 7 </li>
          <li> You will be mingling, wear your bar ware </li>
          <li> Contest starts at 7:30. </li>
          <li> You will be backstage for the duration of the contest </li>
          <li> Keep an eye on the schedule </li>
          <li> Introduction - Bar Ware </li>
          <li> Pop Question - Men are in jocks, wear your sexy ware </li>
          <li> Intermission: you will be able to leave backstage for a short time </li>
          <li> Speech - Formal ( judged as part of speech score ) </li>
          <li> Results - What you want to wear for final photos </li>
        </ul>
      </td>
      <td colspan="2" width="50%">
        <ul>
          <li> You will have den staff, no handles backstage.</li>
          <li> Pop Question: Will be an open ended question which should allow you to shine. </li>
          <li> Speech: There will be a tally deduction if you go over on your speech time. You have 2 minutes. (most formal dress) </li>
          <li> When handed the mic lower it to your side first then raise it to your face. </li>
          <li> ( TBD if you will have a timer ) </li>
          <li> Nudity rules nips and bits. Jock straps are ok. </li>
          <li> Result: Your family will be able to come on stage AFTER the class photo or final photo.</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
