<table class="table table-sm table-bordered">
  <tbody>
    <tr>
      <th scope="row">Event</th>
      <td colspan="3">Contestant Rehearsal</td>
    </tr>
    <tr>
      <th scope="row">Date</th>
      <td>Saturday Feb 17</td>
      <th scope="row">Location</th>
      <td>SF Eagle</td>
    </tr>
    <tr>
      <th scope="row">Call Time</th>
      <td>11:45am</td>
      <th scope="row">Start Time</th>
      <td>12:00pm</td>
    </tr>
    <tr>
      <th scope="row">Attire</th>
      <td>Casual</td>
      <th scope="row">End Time</th>
      <td>2:00pm</td>
    </tr>
    <tr>
      <th colspan="4" scope="row">Details</th>
    </tr>
    <tr>
      <td colspan="4">
        Contestants meet each other and get questions about the contest answered.
            Run through all Saturday night events.
            Will draw contestant numbers.
      </td>
    </tr>
  </tbody>
</table>
