<table class="table table-sm table-bordered">
  <tbody>
    <tr>
      <th scope="row">Event</th>
      <td colspan="3">Interview</td>
    </tr>
    <tr>
      <th scope="row">Date</th>
      <td>Saturday, March 3rd</td>
      <th scope="row">Location</th>
      <td>SF Catalyst</td>
    </tr>
    <tr>
      <th scope="row">Call Time</th>
      <td>9:00am</td>
      <th scope="row">Start Time</th>
      <td>10:00am</td>
    </tr>
    <tr>
      <th scope="row">Attire</th>
      <td>Your favorite Leather or Leather Business Casual & Contestant Number</td>
      <th scope="row">End Time</th>
      <td>8:00pm</td>
    </tr>
    <tr>
      <th colspan="2" scope="row">Details</th>
      <th colspan="2" scope="row">Notes</th>

    </tr>
    <tr>
      <td colspan="2" width="50%">
        <h5> Technical Interview </h5>
        <p>
            Explain your process on your tech boot
            Technical Q & A
        </p>

        <h5>Personal Interview</h5>
        <p>
          Mr SF Judges will be asking you questing as well as bootblack judges.
        </p>

        <h5> Lunch </h5>
        <p>
          Will be provided, tell Nate about any dietary concerns
        </p>
      </td>
      <td colspan="2" width="50%">
        <ul>
          <li> These are OPEN interviews so be prepared to have an audience.</li>
          <li> Focus on judges not audience </li>
          <li> Your handler may only attend your interview. </li>
          <li> All contestants and handlers will be sequestered upstairs at Catalyst when not being interviewed. </li>
          <li> There will not be people allowed to enter once the interview has started. </li>
          <li> All Open so Handlers are Free </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
