<table class="table table-sm table-bordered">
  <tbody>
    <tr>
      <th scope="row">Event</th>
      <td colspan="3">Meet and Greet</td>
    </tr>
    <tr>
      <th scope="row">Date</th>
      <td>Thursday, March 1st</td>
      <th scope="row">Location</th>
      <td>Mr S Leather</td>
    </tr>
    <tr>
      <th scope="row">Call Time</th>
      <td>5:45pm</td>
      <th scope="row">Start Time</th>
      <td>6:00pm</td>
    </tr>
    <tr>
      <th scope="row">Attire</th>
      <td>Casual & Contestant Number</td>
      <th scope="row">End Time</th>
      <td>8:00pm</td>
    </tr>
    <tr>
      <th colspan="4" scope="row">Details</th>
    </tr>
    <tr>
      <td colspan="4">
        <p>
          Contestant meet with each other and the community. This is casual.
          You are not being judged so relax and have a good time.
        </p>
      </td>
    </tr>
  </tbody>
</table>
