<table class="table table-sm table-bordered">
  <tbody>
    <tr>
      <th scope="row">Event</th>
      <td colspan="3">Run Through</td>
    </tr>
    <tr>
      <th scope="row">Date</th>
      <td>Saturday, March 3rd</td>
      <th scope="row">Location</th>
      <td>SOMA ARTS</td>
    </tr>
    <tr>
      <th scope="row">Call Time</th>
      <td>2:00pm</td>
      <th scope="row">Start Time</th>
      <td>2:30am</td>
    </tr>
    <tr>
      <th scope="row">Attire</th>
      <td>Casual</td>
      <th scope="row">End Time</th>
      <td>TBD</td>
    </tr>
    <tr>
      <th colspan="2" scope="row">Details</th>
      <th colspan="2" scope="row">Notes</th>

    </tr>
    <tr>
      <td colspan="2" width="50%">
        <ul>
          <li> Become familiar with lights.</li>
          <li> Learn how to deepthroat a microphone. </li>
          <li> Check Wardrobe is Ready </li>
          <li> Get comfortable on the stage. </li>
          <li> Break - You are responsible for your own dinner. You may have food brought to SOMA Arts. </li>
        </ul>
      </td>
      <td colspan="2" width="50%">
      </td>
    </tr>
  </tbody>
</table>
