<table class="table table-sm table-bordered">
  <tbody>
    <tr>
      <th scope="row">Event</th>
      <td colspan="3">Victory Party</td>
    </tr>
    <tr>
      <th scope="row">Date</th>
      <td>Saturday, March 3rd</td>
      <th scope="row">Location</th>
      <td>TBD</td>
    </tr>
    <tr>
      <th scope="row">Call Time</th>
      <td>After Contest</td>
      <th scope="row">Start Time</th>
      <td>After Contest</td>
    </tr>
    <tr>
      <th scope="row">Attire</th>
      <td>Your Pick</td>
      <th scope="row">End Time</th>
      <td>TBD</td>
    </tr>
    <tr>
      <th colspan="4" scope="row">Details</th>
    </tr>
    <tr>
      <td colspan="4">
        <p>
          We would like everyone but is only mandatory for the winner.
        </p>
      </td>
    </tr>
  </tbody>
</table>
