@import url('https://fonts.googleapis.com/css?family=Open+Sans')

$v-space-multiplier: 15px
$l-space-multiplier: 15px

@for $i from 1 through 5
  .vspace#{$i}
    margin-top: $v-space-multiplier * $i

@for $i from 1 through 5
  .fspace#{$i}
    margin-bottom: $v-space-multiplier * $i

@for $i from 1 through 5
  .lhspace#{$i}
    margin-left: $l-space-multiplier * $i

.bg-white
  background-color: #ffffff !important
  padding: $v-space-multiplier 0px
