.splash
  background: url("../images/sf1.jpg") no-repeat 50% 50%
  min-width: 100%
  min-height: 100%
  background-size: cover
  padding-top: 5%
  padding-bottom: 5%

  .header
    color: white
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
    font-family: "Roboto Condensed"

  h1
    font-size: 75px
    font-weight: Normal

  .org-logo
    max-height: 125px
    height: auto
    display: block
    margin: auto
