<h2>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h2>
{% if page.subtitle %}
<h4 class="subheading">{{ page.subtitle }}</h4>
{% endif %}

<small class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</small>

<br>

{% if page.categories %}
<small>
  Categories:
  {% for category in page.categories %}
    <a href="{{site.baseurl}}/categories/#{{category|slugize}}">
      {{category}}
    </a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</small>
{% endif %}

<!-- <nav class="vspace2">
  <ul class="pagination pagination-sm">
    {% if page.previous.url %}
    <li class="page-item">
        <a class="page-link" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
    </li>
    {% endif %}
    {% if page.next.url %}
    <li class="page-item">
        <a class="page-link" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
    </li>
    {% endif %}
  </ul>
</nav> -->

<hr>
