<div>
  <h3> Don't Forget! Applications are open! </h3>

  <p>
    Applications are now open for San Francisco Bootblack 2018! Please visit our application page to apply now! Make sure you checkout the <a href="/2018/schedule"> weekend schedule </a> and the <a href="/2018/contest"> contest requirements.</a> Get your application in as today before it's too late!
  </p>

  <p> The Application Deadline is January 20th, 2018. </p>

  <a href="/2018/app/" class="btn btn-lg btn-primary">
    Apply Now!
  </a>
</div>
