---
layout: new
hide_title: true
---

<!-- Post Content -->
<article class="bg-white section">
  <div class="row">
    <div class="col-lg-9">
      {% include posts/header.html %}
      <div class="mt-2"></div>

		  {{ content }}

      {% if page.image_path %}
        <div class="row">
          <div class="col-10 offset-1">
            <img class='img-fluid' src="{{page.image_path}}" />
            <div class="mt-5"> </div>
          </div>
        </div>
      {% endif %}

    </div>
    <div class="col-lg-3">
      <small>
        <a href="/archive"> view all posts </a>
      </small>
      <div class="mt-2"></div>
      <small>
        {% include redesign/recent_posts_links.html %}
        <div class="mt-2"></div>
        {% include redesign/links.html %}
      </small>
    </div>
  </div>
</article>
