---
layout: new
---

<!-- Post Content -->
<article>
  <div class="vspace4"></div>

  <div class="row">
    <div class="col-lg-8">
      {% include posts/header.html %}
      <div class="vspace2"></div>

		  {{ content }}

      <nav>
        <ul class="pagination pagination-sm">
          {% if page.previous.url %}
          <li class="page-item">
              <a class="page-link" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
          </li>
          {% endif %}
          {% if page.next.url %}
          <li class="page-item">
              <a class="page-link" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
    <div class="col-lg-4">
      {% include redesign/recent_posts.html %}

      {% include redesign/links.html %}
    </div>
  </div>
</article>
