---
layout: constrained
---
<div class="row">
  <div class="col-md-8 col-md-offset-2"
</div>
<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="page-date headroom">{{ page.date | date_to_string }}</time>
  <div class="headroom">
    {% for tag in page.tags %}
      <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag btn btn-default">
        <i class="fa fa-tag" ></i> &nbsp {{ tag }}
      </a>
    {% endfor %}
  </div>

  <div class="content more-headroom">
    {{ content }}
  </div>
</article>

<div class="clearfix">
  <aside class="related">
    <h2>Related Posts</h2>
    <ul class="related-posts">
      {% for post in site.related_posts limit:3 %}
        <li>
          <h3>
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
              <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
            </a>
          </h3>
        </li>
      {% endfor %}
    </ul>
  </aside>
</div>
