<div class="row">
  <div class='col-sm-6'>
    <h3> slave tabitha </h3>
    <h5> International Ms Bootblack 2015 </h5>

    <p>
      This is Tabitha's Bio
    </p>
  </div>
  <div class='col-sm-6'>
    <img />
  </div>
</div>

<div class="row">
  <div class='col-sm-6'>
    <h3> Ms V </h3>
    <h5> International Ms Bootblack 2007 </h5>

    <p>
      This is Ms V's Bio
    </p>
  </div>
  <div class='col-sm-6'>
    <img />
  </div>
</div>

<div class="row">
  <div class='col-sm-6'>
    <h3> Gauge Fisher </h3>
    <h5> Mr SF Eagle Leather 2014 </h5>

    <p>
      This is Gauges's Bio
    </p>
  </div>
  <div class='col-sm-6'>
    <img />
  </div>
</div>

<br/>

#### Gauge Fisher

##### Mr SF Eagle Leather 2014

<p>
This is Gauges's Bio
</p>
